 /*Structure*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("images/rain background.jpg");
    background-size: cover;
}

#content {
    background-color: skyblue;
    width:70%;
    margin:auto;     /* center */ 
    padding:1%;     /* get text away from edge */
    border-radius: 5px;  /* round corners */
}

/* Tables */

table { 
    border-collapse: collapse;

}

td , th {
    border:1px solid magenta;
    padding: 5px 10px; /*Top and bottoem 5, right and left 10 */

}

th {
    background: magenta;
}

/*Images*/
#giraffe-pic {
    box-shadow: 7px 7px navy;
}
 /*Typography*/
 h1 {
    color:crimson;
 }

 h2 {
    color:aqua; 
 }